{% extends "base.html" %}
{%block content%}

<div class="card">
  <div class="card-header">
     <strong>Customer Details</strong>
  </div>
  <div class="card-body">
    <p class="card-text">
      <strong>Product ID: </strong>{{product_record.id}}
    </p>
    <p class="card-text">
    <strong>Product Name: </strong> {{product_record.product_name}}
      {{product_record.last_name}} 
    </p>
      <p class="card-text">
      <strong>Product Description: </strong>{{product_record.description}}
        </p>
        <p class="card-text">
      <strong>Product Image: </strong><img src="{{ product_record.image.url }}" alt="Product Image"style="width:200px;">

        </p>
        <p class="card-text">
      <strong>Product Creation Date: </strong> {{product_record.created_at}} 
        </p>

    
    
  </div>
</div>
<br><br>
<a href="{%url 'home' %}" class="btn btn-secondary"> BACK</a>
<a href="{%url 'update_prod' product_record.id %}" class="btn btn-secondary"> Update Details</a>
<a href="{%url 'delete_product_record' product_record.id %}" class="btn btn-danger"> DELETE</a>


{%endblock%}